*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    position: relative;
    width: 100%;
    height: 150vh;
    background: rgb(255, 230, 241);
}

nav{
    display: flex;
    width: 94%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav header{
    font-size: larger;
    font-family: sans-serif;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color:aliceblue;

}

.details{
    margin-left: 8%;
    margin-top: 13%;
}

.details h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

span{
    color: rgb(238, 81, 183);
}

.details p{
    color: black;
    line-height: 22px;
}

.details a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: pink;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 65%;
    position: absolute;
    bottom: 0;
    right: 100px;
    top: 3px;
    
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .headshot{
    left: 45%;
}

.logo{
    size: 50%;
}

/* About Page Styles */

body {
    background-color: none;
    background: url('./Images/background3\ copy.png');
    background-size: cover;
    background-position: 0 1000;
}

.title h1 {
    color: darkolivegreen;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 2rem;
    text-align: center;
}

.title h2 {
    color: #777;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

.profile {
    margin-top: 8rem;
    margin-bottom: 5rem;
    text-align: center;
}

.message {
    font-size: 2rem;
    color:darkolivegreen;
    line-height: 3rem;
    margin-bottom: 5rem;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 2.7rem 7.5rem;
    background: #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    color:darkolivegreen;
    border-radius: 7px;
    transition: background 0.5s;
    text-align: center;
}

.btn:hover {
    background: #dadada;
    text-align: center;
}