*{
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: papayawhip;
}

.navbar{
    position: relative;
    width: 100%;
}

nav{
    display: flex;
    width: 94%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav header{
    font-size: larger;
    font-family: sans-serif;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color:#DE7E5D;

}

.details{
    margin-left: 8%;
    margin-top: 13%;
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
    text-align: center;
}

@keyframes fadeIn {
    0% {opacity: 0; }
    100% {opacity: 1; }
} 

.details h1{
    font-size: 80px;
    color: black;
    margin-bottom: 20px;
}

span{
    color:#DE7E5D;
    font-weight: bold;
}

.details a {
    background: none;
    padding: 10px 10px;
    font-weight: bolder;
    color: black;
    display: inline-block;
    margin: 30px 0;
}

.backgroundpic {
    background-image: url('./Images/homepic3.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    margin-bottom: 0px;
    height: 100%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 40%;
}

.container {
    top: 280px;
    height: 900px;
    position:relative;
    background-color: papayawhip;
    margin-top: none;
}

.workExperience h1 {
    transform: translateY(200px);
    font-size: 50px;
    margin-left: 5rem;
    color:black;
}

.workExperience p {
    transform: translateY(200px);
    font-size: 20px;
    text-align: left;
    margin-top: 2rem;
    margin-left: 5rem;
    line-height: 155%;
    color:black;
}

.workExperience a {
    transform: translateY(200px);
    margin-left: 5rem;
}

.workExperience h4 {
    transform: translateX(800px);
    transform: translateY(-360px);
    margin-left: 35rem;
}

.mainPic {
    transform: translateX(1600px);
    transform: translateY(-250px);
    margin-left: 35rem;
    margin-right: 10rem;
    margin-top: -4rem;
}

.INFOproject {
    transform: translateY(-320px);
}

.INFOproject img {
    margin-top: 9%;
}

.INFOproject h4 {
    transform: translateY(-230px);
}

/* About Page Styles */

.aboutBody {
    background-color: papayawhip;
    background-size: cover;
    max-height: fill;
}

.profile {
    margin-top: 4rem;
    margin-left: 8rem;
    margin-bottom: 5rem;
    text-align:left;
}

.message h1 {
    color:#DE7E5D;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.message {
    font-size: 2rem;
    color:black;
    line-height: 50px;
    margin-bottom: 2rem;
    margin-top: 0rem;
    margin-left: 46rem;
    text-align: left;
    position: relative;
    top: -500px;
    right: 10px; 
}

.workTogether p {
    font-size: 2rem;
    color:#DE7E5D;
    margin-top: -40rem;
    text-align: center;
    transform: translateX(10%);
    transform: translateY(700%);
}

.btn {
    display: inline-block;
    padding: 14px 28px;
    background-color: white;
    border: 2px solid black;
    border-color: #DE7E5D;
    font-size: 1.5rem;
    text-decoration: none;
    color:#DE7E5D;
    border-radius: 1px;
    transition: background 0.5s;
    text-align: center;
    margin-top: 3rem;
}

.btn:hover {
    background-color:#DE7E5D;
    color:#f6f6f6;
    text-align: center;
}

/* Novoloom Page Styles */

.mosaicLogo {
    margin-top: 0;
    margin-left: 18rem;
    background-size: cover;
}

.projectOverview {
    background-color: peachpuff;
    margin-top: none;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 15%;
    padding-bottom: 60px;
    padding-top: 60px;
}

.projectOverview h2 {
    padding-top: 10%;
    font-size: 35px;
}

.projectOverview p {
    padding-left: 40%;
    line-height: 30px;
    padding-top: none;
    margin-top: none;
    margin-right: 10rem;
    transform: translateY(-30px);
    font-size: 20px;
}

.mainContent h2 {
    font-size: 35px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 15%;
    padding-bottom: 60px;
    padding-top: 90px;
}

.mainContent p {
    padding-left: 40%;
    line-height: 30px;
    padding-top: none;
    margin-top: none;
    margin-right: 8rem;
    margin-left: 100px;
    transform: translateY(-100px);
    font-size: 20px;
    padding-bottom: none;
}

.mainContent a {
    transform: translateY(-250px);
    margin-left: 15%;
}

.pamphlet-allItems-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    row-gap: 40px;
    background-color: peachpuff;
}

.pamphlet-item-wrapper {
    position: relative;
    height: 350px;
    width: 100%;
}

/* INFOproject Page Styles */

.canvasLogo {
    margin-top: 8rem;
    margin-left: 35%;
    padding-bottom: 12%;
}

.backgroundColor {
    background-color:#7851a9;
}

.backgroundColor nav {
    color: white;
}

.backgroundColor ul li a {
    color: white;
}

.INFOprojectSummary h1 {
    padding-left: 10%;
    transform: translateY(290px);
    font-size: 35px;
}

.INFOprojectSummary p {
    padding-left: 10%;
    padding-top: 5%;
    transform: translateY(-400px);
    font-size: 20px;
    line-height: 30px;
}

.INFOprojectSummary img {
    margin-left: 650px;
    padding-top: 10%;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: none;
    padding-bottom: 5%;
    margin-right: 5%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;
    margin-left: 400px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.element h2 {
    font-size: 35px;
    text-align: center;
    padding-bottom: none;
    transform: translateY(-80px);
}

.element ul {
    padding-top: 5%;
    transform: translateY(-80px);
}

.element ul li {
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    list-style-type: none;
}

.mainContentINFO {
    padding-left: 10%;
    line-height: 38px;
}

.mainContentINFO h1 {
    font-size: 55px;
    padding-bottom: 5%;
}

.mainContentINFO p {
    font-size: 20px;
}

.mainContentINFO h3 {
    font-size: 25px;
}

.mainContentINFO span {
    font-weight: bold;
    color: #DE7E5D;
}

.research h2 {
    font-size: 32px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.research p {
    padding-bottom: 5%;
}

.research a {
    transform: translateY(-50px);
}

.research video {
    transform: translateY(-400px);
    margin-left: 660px;
    padding-bottom: none;
    margin-bottom: none;
}

.surveys {
    margin-right: 60%;
}

.interviews {
    transform: translateY(-300px);
    margin-right: 10%;
}

.interviews p {
    transform: translateY(-20px);
}

.personas {
    transform: translateY(-300px);
    margin-right: 60%;
}

.personas p {
    transform: translateY(-20px);
    padding-top: 4%;
}

.mypersona {
    margin-left: 120%;
    transform: translateY(-300px);
}

.design {
    transform: translateY(-680px);
    padding-right: 10%;
}

.productFeatures ul {
    padding-left: 3%;
    padding-bottom: 5%;
}

.productFeatures h3 {
    padding-bottom: 2%;
}

.productFeatures p {
    padding-bottom: 5%;
}

.designPics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    transform: translateY(-300px);
    margin-left: 25%;
    margin-right: 10%;
}

.wireframes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding-top: 5%;
}

.annotatedWireframing p {
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
}

.prototype h1 {
    transform: translateY(200px);
}

.prototype video {
    transform: translateY(200px);
}

.prototype a {
    transform: translateY(200px);
    margin-left: 38%;
}