*{
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    position: relative;
    width: 100%;
}

nav{
    display: flex;
    width: 94%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav header{
    font-size: larger;
    font-family: sans-serif;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color:darkolivegreen;

}

.details{
    margin-left: 8%;
    margin-top: 13%;
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
    text-align: center;
}

@keyframes fadeIn {
    0% {opacity: 0; }
    100% {opacity: 1; }
} 

.details h1{
    font-size: 80px;
    color: black;
    margin-bottom: 20px;
}

span{
    color:darkorchid;
}

.details a {
    background: none;
    padding: 10px 10px;
    font-weight: bolder;
    color: black;
    display: inline-block;
    margin: 30px 0;
}

.backgroundpic {
    background-image: url('./Images/homepic3.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: absolute;
    margin-bottom: 0px;
    height: 100%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 40%;
}

.container {
    top: 280px;
    height: 600px;
    position:relative;
    background-color: lavender;
    margin-top: none;
}

.novoloom h1 {
    transform: translateY(200px);
    font-size: 50px;
    margin-left: 5rem;
}

.novoloom p {
    transform: translateY(200px);
    font-size: 20px;
    text-align: left;
    margin-top: 2rem;
    margin-left: 5rem;
    line-height: 155%;
    color: darkolivegreen;
}

.novoloom a {
    transform: translateY(200px);
    margin-left: 5rem;
}


/* About Page Styles */

.aboutBody {
    background-color: lavender;
    background-size: cover;
    max-height: fill;
}

.profile {
    margin-top: 4rem;
    margin-left: 8rem;
    margin-bottom: 5rem;
    text-align:left;
}
.message h1 {
    color: black;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.message {
    font-size: 2rem;
    color:darkolivegreen;
    line-height: 50px;
    margin-bottom: 2rem;
    margin-top: 0rem;
    margin-left: 46rem;
    text-align: left;
    position: relative;
    top: -500px;
    right: 10px; 
}

.workTogether p {
    font-size: 2rem;
    color:darkolivegreen;
    margin-top: -40rem;
    text-align: center;
    transform: translateX(10%);
    transform: translateY(700%);
}

.btn {
    display: inline-block;
    padding: 2rem 3rem;
    background: #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    color:darkolivegreen;
    border-radius: 1px;
    transition: background 0.5s;
    text-align: center;
    margin-top: 3rem;
    /*transform: translateY(900%);
    transform: translateX(50%);*/
}

.btn:hover {
    background: #dadada;
    text-align: center;
}